
/*#boo{
   overflow-y: hidden;
    overflow-x: hidden;
}*/
#expl{
    position: relative;
    top:-150px;
    right: 80px;
    height: 150px;
    width:  60px;  
}

/* SVG positionings  */
#headi{
    position: relative; 
    top: 5px;
    right: -310px;
    width: 900px;
    z-index: -1;
    font-weight: bold;

}
#boo{

  color:rgb(7, 8, 8)
  
}

#stoma{
    position: relative; 
    top: 0px;  
    left: 220px;
    bottom: 5px;
    right: 0px;
}

#stoma-2{
    position: relative; 
    top: 0px;  
    left: 400px;
    bottom: 0px;
    right: -100px;
}


/* Text + slider positionings  */

/* First line  */
#ins-1 {
    position: relative;
    top:-190px;
    right: -50px;
    height: 40px;
    width: 640px;
    z-index: -5; 
}
.one {
    position: relative;
    top: -23px;
    right: -370px;
    bottom: 0px;  
    left: 0 px;
    width: 1200px;
    height: 60px;
    z-index: 15;   
}   
   
#sent-1 {
    position: relative;
    top: 22px;
    right: 200px;
    bottom: 500px;  
    left: 40 px;
    width: 1200px;
    z-index: 12;
}
#slider-1 {
    position: relative;
    top: -8px;
    right: 255px;
    width: 539px; 
    z-index: 1;
}   

/* First line  */

/* Second line  */
#ins-2 {
    position: relative;
    top:-80px;
    right: -300px;
    height: 40px;
    width: 640px;
    z-index: -5;
}
.two {
    position: relative;
    top: -25px;
    right: -148px;
    bottom: 0px;  
    left: 0 px;
    width: 990px;
    height: 60px; 
    z-index: 15;   
} 
#sent-2{
    position: relative;
    top: 21px;
    right: -20px;
    bottom: 500px;  
    left: 40 px;
    width: 1430px;
    z-index: 12; 
     }

 #slider-2{
    position: relative;
    top: -10px;
    right: -5px;
    width: 365px;
    z-index: 1;}

/* Second line  */

/* Third line  */
#ins-3 {
    position: relative;
    top:-78px;
    right: -230px;
    height: 40px;
    width: 640px;
    z-index: -5;
}
.three {
    position: relative;
    top: -25px;
    right: -59px;
    bottom: 0px;  
    left: 0 px;
    width: 990px;
    height: 60px;
    z-index: 15;  
              
        } 
#sent-3{
    position: relative; 
    top: 20px;
    right: -110px;
    bottom: 500px;  
        left: 40 px;
        width: 1430px;
        z-index: 10;
       }

#slider-3{ 
    position: relative;
    top: -10px;
    right: -5px;
    width: 490px;
    z-index: 1; }    

/* Third line  */ 

/* Fourth line  */
#ins-4 {
    position: relative;
    top:-240px;
    right: 30px;
    height: 40px;
    width: 640px;
    z-index: -5;
}
#ins-5 {
    position: relative;
    top:-240px;
    right: 200px;
    height: 40px;
    width: 240px;
    z-index: -5;
}
.four-five {
        position: relative;
        top: -34px;
        right: -360px;
        bottom: 0px;  
        left: 0 px;
        width: 990px;  
        height: 60px;
        z-index: 15;   
    } 
    
#sent-4{
            position: relative; 
            top: 25px;
            right: 190px;
            bottom: 500px;  
            left: 40 px;
            width: 1800px;
            z-index: 5;
            
            }
#slider-4{ 
    position: relative;
    top: -125px;
    right: 257px;
    width: 440px;
    z-index: 1;
    
}
#slider-5{
    position: relative;
    top: -170px;
    right: -70px;
    width: 170px;
    z-index: 1;
}

#arrow{
    position: relative;
    top: -38px;
    right: 96px;
    width: 140px;
    height: 120px;
    z-index : -5;}

#arrow1{
    position: relative;
    top: -39px;
    right: -472px;
    width: 140px;
    height: 120px;
    z-index : -5;}


/* Fourth line  */

/* Fifth line  */
#ins-6 {
    position: relative;
    top:-145px;
    right: 100px;
    height: 40px;
    width: 390px;
    z-index: -5;
}
#ins-7 {
    position: relative;
    top:-145px;
    right: 80px;
    height: 40px;
    width: 700px;
    z-index: -5;
}

.six-seven {
        position: relative;
        top:  -30px;
        right: -198px;
        bottom: 0px;  
        left: 0 px;
        width: 1695px; 
        height: 60px;
        z-index: 15;    
    }
#sent-5{
        position: relative; 
        top: 23px;
        right: 30px;
        bottom: 500px;  
        left: 40 px;
        width: 1595px;
        z-index: 12;
        }

#slider-6{ 
    position: relative; 
    top: -8px;
    right: 605px;
    width: 364px;
    height: 44px;
    z-index: 1;
}
#slider-7{
    position: relative; 
    top: -52px;
    right: 60px;
    width: 620px;
    height: 44px;
    z-index: 1;
}
#arrow2{
    position: relative;
    top: -135px;
    right: -396px;
    width: 140px;
    height: 120px;
    z-index : -15;}

/* Fifth line  */

/* Sixth line  */

#ins-8 {
    position: relative;
    top:-105px;
    right: 150px;
    height: 40px;
    width: 740px;
    z-index: -5;
}

.eight {
    position: relative;
    top: -27px;
    right: -245px;
    bottom: 0px;  
    left: 0 px;
    width: 990px; 
    height: 60px;
    z-index: 15;    
}
#sent-6{
    position: relative; 
    top: 20px;
    right: 75px;
    bottom: 500px;  
    left: 40 px;
    z-index : 12 ;}

#slider-8{
    position: relative; 
    top: -11px;
    right: 175px;
    width: 635px;
    height: 44px;
    z-index: 1;
}
#arrow3{
    position: relative;
    top: -93.5px;
    right: 20px;
    width: 140px;
    height: 120px;
    z-index : -15;}
/* Sixth line  */

/* Slider Global properties */
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: hidden;
    align-items: center;
    overflow: hidden;
    height: 44px;
    width: 370px;
    cursor: col-resize;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background:#dfbdbd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 1 */
    height: 44px;
    background:#6b7fdb;
    /*box-shadow: 2px 1px inset rgb(43, 44, 44);*/
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
    border: 1px solid #080808; 
    border-radius: 7px;
    
}

::-moz-range-track {
    height: 44px;
    background:#dfbdbd;
}

::-moz-range-thumb {
    background: #6b7fdb;
    height: 44px;
    width: 10px;
    border: 1px solid #0f0f0f; /* 1 */
    border-radius: 7px !important;
    /*box-shadow: 2px 1px inset rgb(43, 44, 44);*/
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #6b7fdb;
}

::-ms-thumb { 
    background: #6b7fdb;
    border: 1px solid #0f0f0f;;
    height: 44px;
    width: 10px;
    box-sizing: border-box;
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
    border-radius: 7px;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #dfbdbd;
    color: transparent;
    height: 44px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}