
/*#boo{
    overflow-y: hidden;
    overflow-x: hidden;
}

/* SVG positionings  */

.a{
    position: relative;
    top: 230px;
    right: 524px;  
}

#stoma{
    position: relative; 
    top: 0px;  
    left: 200px;
    bottom: 5px;
    right: 0px;
}

#stoma-2{
    position: relative; 
    top: 0px;  
    left: 400px;
    bottom: 0px;
    right: -100px;
}
/* Text positionings  */

.one {
    position: relative;
    top: -10px;
    right: -460px;
    bottom: 0px;  
    left: 0 px;
    width: 990px;   
}   
   
#sent-1 {
    position: relative;
    top: 27px;
    right: 260px;
    bottom: 500px;  
    left: 40 px;
    width: 1000px;
}
#slider-1 {
    width: 490px; 
}   




.two {
    position: relative;
    top: -20px;
    right: -468px;
    bottom: 0px;  
    left: 0 px;
    width: 990px; 
    z-index: 12;   
} 
#sent-2{
    position: relative;
    top: 27px;
    right: 270px;
    bottom: 500px;  
    left: 40 px;
     }

 #slider-2{
        width: 330px;}





.three {
            position: relative;
            top: -30px;
            right: -250px;
            bottom: 0px;  
            left: 0 px;
            width: 990px;
            z-index: 12;  
              
        } 
#sent-3{
        position: relative; 
        top: 28px;
        right: 50px;
        bottom: 500px;  
        left: 40 px;
       }

#slider-3{ 
    width: 580px; }    

    


.four-five {
        position: relative;
        top: -125px;
        right: -322px;
        bottom: 0px;  
        left: 0 px;
        width: 990px;  
        z-index: 11;   
    } 
#sent-4{
            position: relative; 
            top: 113px;
            right: 120px;
            bottom: 500px;  
            left: 40 px;
            width: 1400px;
            }

#slider-4{ 
    width: 480px;
}
#slider-5{
   
    top: -184px;
    right: -760px;
    width: 154px;
}
#arrow{
    position: relative;
    top: 48px;
    right: 678px;
    width: 140px;
    height: 120px;
    z-index : -1;}

#arrow1{
        position: relative;
        top: -220px;
        right: -518px;
        width: 450px;
        height: 450px;
        z-index : -1;}





.six-seven {
        position: relative;
        top: -590px;
        right: -231px;
        bottom: 0px;  
        left: 0 px;
        width: 1695px; 
        z-index: 12;    
    }
#sent-5{
        position: relative; 
        top: 28px;
        right: 30px;
        bottom: 500px;  
        left: 40 px;
        width: 1595px;
        }

#slider-6{ 
    width: 380px;
    height: 34px;
}
#slider-7{
    width: 615px;
    height: 34px;
}



.eight {
    position: relative;
    top: -600px;
    right: -277px;
    bottom: 0px;  
    left: 0 px;
    width: 990px; 
    z-index: 12;    
}
#sent-6{
    position: relative; 
    top: 25px;
    right: 75px;
    bottom: 500px;  
    left: 40 px;
    z-index : 1 ;}

#slider-8{
    width: 595px;
    height: 34px;
}





p{
    position: hidden; 
    top: 40px;  
    left: 5px;
    z-index : 0 ;
}
/* Slider positionings  */

/*
 #slider-2{
    position: relative; 
    top: -219px;
    right: 20px;
    bottom: 0px;  
    left: 50 px;
    z-index : 0 ; 
    width: 330px}
#slider-3{
    position: relative; 
    top: -213px;
    right: -250px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 520px; 
}


#slider-4{
    position: relative; 
    top: -208px;
    right: -272px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 520px;
    height: 34px;
}
#slider-8{
    position: relative; 
    top: -360px;
    right: -820px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 140px;
    height: 34px;
}
#slider-5{
    position: relative; 
    top: -203px;
    right: -230px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 380px;
    height: 34px;
}
#slider-6{
    position: relative; 
    top: -241px;
    right: -665px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 570px;
    height: 34px;
}
#slider-7{
    position: relative; 
    top: -236px;
    right: -278px;
    bottom: 0px;  
    left: -10 px;
    z-index : 0 ; 
    width: 595px;
    height: 34px;
}


/* Slider Global properties */
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: hidden;
    align-items: center;
    overflow: hidden;
    height: 34px;
    width: 370px;
    cursor: col-resize;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background:#dfbdbd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px; /* 1 */
    height: 120px;
    background:#6b7fdb;
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
    border: 1px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background:#dfbdbd;
}

::-moz-range-thumb {
    background: #6b7fdb;
    height: 60px;
    width: 5px;
    border: 1px solid #6b7fdb;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #6b7fdb;
}

::-ms-thumb { 
    background: #6b7fdb;
    border: 1px solid #6b7fdb;
    height: 40px;
    width: 5px;
    box-sizing: border-box;
    box-shadow: -100vw 0 0 100vw rgb(207, 225, 243);
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #dfbdbd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}